.counterDiv {
	display: grid;
	align-items: center;

	width: fit-content;
	grid-template-columns: repeat(4, auto);
	gap: 10px;
}

.minusPlus {
	width: 30px;
	height: 30px;

	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	color: var(--white);
	border: none;
	border-radius: 10px;
	background: var(--primary);

	font-size: 14px;
	font-weight: 600;
}

.delete {
	display: grid;
	align-items: center;

	background: var(--error);
	justify-items: center;
}

.delete > svg {
	fill: var(--white);

	height: 14px !important;
}

.minusPlus:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.disable {
	color: var(--primary) !important;
	background: var(--white) !important;
}

.disable:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--light);
}

.count {
	color: var(--primary);

	font-weight: 600;
}

@media (min-width: 1024px) {
	.minusPlus:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.disable:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--light);
	}
}
