.worldBlock {
	display: grid;
	align-items: center;

	width: 70%;
	justify-items: center;
}

.worldBlockTitle {
	color: var(--primary) !important;
}

.text {
	margin-top: 20px !important;
	margin-bottom: -40px;

	text-align: center;
}

@media (max-width: 1024px) {
	.worldBlock {
		width: 75%;
	}
}

@media (max-width: 580px) {
	.worldBlock {
		width: 85%;
	}
}
