.cart {
	display: grid;

	width: fit-content;
	padding: 10px;
	grid-template-columns: 200px auto;
	gap: 30px;
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 15px;
	background: var(--primary);
}

.imageBlock:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.img {
	width: 100%;
	height: 100%;
}

.title {
	font-weight: 600 !important;
}

.infoDiv {
	display: grid;
	gap: 20px;

	height: fit-content;
	margin-top: 20px;
}

@media (min-width: 1024px) {
	.imageBlock:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.cart {
		gap: 15px;

		border-radius: 10px;
	}

	.imageBlock {
		border-radius: 10px;
	}
}

@media (max-width: 580px) {
	.cart {
		gap: 10px;
		grid-template-columns: 100px auto;

		padding: 7px;
	}
}
