.wrapper {
	display: grid;

	width: 100%;
	height: 100vh;
	grid-template-rows: auto auto;
	gap: 60px;
	justify-items: center;
}

.blogBody {
	display: grid;

	width: 80%;
	justify-items: left;
	gap: 30px;
}

.empty {
	font-weight: 600;
}

@media (max-width: 1220px) {
	.blogBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.blogBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}
}

@media (max-width: 580px) {
	.blogBody {
		gap: 10px;
	}
}

@media (max-width: 400px) {
	.blogBody {
		width: 95%;
	}
}
