.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.blogBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
	margin-bottom: 220px;
}

.blogTitle {
	color: var(--primary) !important;
}

.blogLink {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--accent) !important;
}

.blogLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.blogLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1220px) {
	.blogBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.blogBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
		margin-bottom: 440px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.blogBody {
		gap: 10px;

		margin-bottom: 200px;
	}
}

@media (max-width: 400px) {
	.blogBody {
		width: 95%;
	}
}
