.imageBlock {
	display: grid;
	overflow: hidden;
	align-items: center !important;

	width: 99.999%;
	height: fit-content;

	background: var(--primary);
	justify-items: center !important;
	filter: brightness(0.9);
}

.text {
	position: absolute;

	width: 80%;

	text-align: center;

	color: var(--white);
}

.imageDiv {
	display: grid;
	overflow: hidden;

	width: 99.999%;
	height: fit-content;

	background: var(--primary);
	align-items: center !important;
	justify-items: center !important;
}

.image {
	width: 100%;
	height: 100%;
}
