.buyButton {
	width: fit-content;
	padding: 10px 20px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
	border: none;
	border-radius: 10px;
	background: var(--primary);
}

.isAdded {
	color: var(--primary) !important;
	background: var(--white) !important;
}

.buyDiv {
	display: grid;
	align-items: center;

	width: fit-content;
	grid-template-columns: auto auto;
	gap: 20px;
}

.buyButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--second);
}

.isAdded:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--light) !important;
}

@media (min-width: 1024px) {
	.buyButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--second);
	}

	.isAdded:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--light) !important;
	}
}
