.buyButton {
	width: fit-content;
	padding: 15px 60px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
	border: 1px solid var(--accent);
	border-radius: 9999px;
	background: var(--accent);
}

.isAdded {
	color: var(--accent) !important;
	background: var(--white) !important;
}

.buyDiv {
	display: grid;
	align-items: center;

	width: fit-content;
	height: fit-content;
	grid-template-columns: auto auto;
	gap: 20px;
}

.buyButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--accent) !important;
	background: var(--white) !important;
}

.isAdded:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--white) !important;
	background: var(--accent) !important;
}

@media (min-width: 1024px) {
	.buyButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--accent) !important;
		background: var(--white) !important;
	}

	.isAdded:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--white) !important;
		background: var(--accent) !important;
	}
}

@media (max-width: 1024px) {
	.buyButton {
		padding: 10px 40px;
	}
}

@media (max-width: 580px) {
	.buyButton {
		padding: 7px 25px;
	}
}

@media (max-width: 435px) {
	.buyDiv {
		grid-template-columns: auto;
	}
}
