.topButton {
	position: fixed;
	z-index: 11000;
	right: 0;
	bottom: 0;

	display: grid;
	align-items: center;

	width: 50px;
	height: 50px;
	margin: 20px;

	cursor: pointer;
	transition-duration: 300ms;

	border: 1px solid var(--accent);

	border-radius: 9999px;
	background: var(--accent);
	box-shadow: 0 29px 29px rgba(0, 0, 0, 0.09), 0 7px 16px rgba(0, 0, 0, 0.1);
	justify-items: center;
}

.topButton > svg {
	width: 20px;

	transition-duration: 300ms;

	transform: rotate(180deg);
	fill: var(--white);
}

.topButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--white);
}

.shopLink {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--accent) !important;
}

.shopLink > svg {
	height: 30px;
}

.topButton:active > svg {
	fill: var(--accent);
}

.amazonAndWolt {
	position: fixed;
	z-index: 3;
	right: 20px;
	bottom: 10px;

	display: grid;
}

.shopLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.topButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--white);
	}

	.topButton:hover > svg {
		fill: var(--accent);
	}

	.shopLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.shopLink {
		margin-bottom: 10px;
	}

	.shopLink > svg {
		height: 25px;
	}
}

@media (max-width: 580px) {
	.shopLink {
		margin-bottom: 10px;
	}
}
