html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--background);

	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

.swiper-pagination-bullet {
	width: 10px !important;
	height: 10px !important;
	margin-bottom: 15px !important;

	opacity: 1 !important;
	background-color: var(--white) !important;
}

.swiper-pagination-bullet-active {
	background: var(--accent) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: textfield;
	appearance: none;
}

@media (max-width: 1024px) {
	.swiper-pagination-bullet {
		width: 7px !important;
		height: 7px !important;
		margin-bottom: 10px !important;
	}
}

@media (max-width: 580px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	.swiper-pagination-bullet {
		margin-bottom: 5px !important;
	}
}

:root {
	--primary: #239490;
	--second: #26BDBB;
	--accent: #F04D23;
	--background: #FFFAE9;
	--white: #FFF;
	--dark: #1F1F1F;
	--darkLight: #757575;
	--light: #DDD;
	--lighter: #F0F0F0;
	--error: #FF1500;
	--font-family: 'Helvetica', sans-serif;
}
