.productionDiv {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	justify-items: left;
}

@media (max-width: 1024px) {
    .productionDiv {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}

@media (max-width: 580px) {
	.productionDiv {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.productionDiv {
		grid-template-columns: 1fr;
	}
}
