.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.kiwiFarmBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
}

.kiwiFarmTitle {
	color: var(--primary) !important;
}

.title {
	margin-top: 20px;
}

@media (max-width: 1220px) {
	.kiwiFarmBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.kiwiFarmBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.kiwiFarmBody {
		gap: 10px;
	}
}

@media (max-width: 400px) {
	.kiwiFarmBody {
		width: 95%;
	}
}
