.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.shopBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
	margin-bottom: 30px;
}

.shopTitle {
	margin-bottom: 30px !important;

	color: var(--primary) !important;
}

.shopLink {
	margin-bottom: 20px !important;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--accent) !important;
}

.shopLink > svg {
	height: 55px;
}

.shopLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.shopLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1220px) {
	.shopBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.shopBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
		margin-bottom: 120px;
	}

	.shopLink {
		margin-bottom: 20px;
	}

	.shopLink > svg {
		height: 40px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.shopBody {
		gap: 10px;

		margin-bottom: 0;
	}

	.shopLink {
		margin-bottom: 25px;
	}

	.shopLink > svg {
		height: 30px;
	}
}

@media (max-width: 400px) {
	.shopBody {
		width: 95%;
	}
}
