.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.shopBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
}

.shopTitle {
	margin-bottom: 30px !important;

	color: var(--primary) !important;
}

.shopLink {
	margin-bottom: 20px !important;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--accent) !important;
}

.shopLink > svg {
	height: 55px;
}

.shopLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.marginTop {
	margin-top: 30px;
}

.productionDiv {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 50px;
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	border-radius: 30px;
	background: var(--primary);
}

.img {
	width: 100%;
	height: 100%;
}

.product {
	display: grid;
	gap: 20px;
}

.buy {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--primary) !important;
}

.buy:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second) !important;
}

.productTitle {
	color: var(--primary);
}

.link {
	width: fit-content;
}

@media (min-width: 1024px) {
	.shopLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.buy:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second) !important;
	}
}

@media (max-width: 1220px) {
	.shopBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.shopBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}

	.shopLink {
		margin-bottom: 20px;
	}

	.shopLink > svg {
		height: 40px;
	}

	.productionDiv {
		grid-template-columns: auto auto;
		gap: 40px;
	}

	.product {
		gap: 15px;
	}

	.imageBlock {
		border-radius: 20px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.shopBody {
		gap: 10px;
	}

	.link {
		margin-left: 20px;
	}

	.shopLink {
		margin-bottom: 25px;
	}

	.shopLink > svg {
		height: 30px;
	}

	.productionDiv {
		grid-template-columns: auto;
		gap: 30px;
	}

	.product {
		gap: 10px;
	}

	.imageBlock {
		border-radius: 15px;
	}
}

@media (max-width: 400px) {
	.shopBody {
		width: 95%;
	}
}
