.wrapper {
	position: relative;

	cursor: pointer;
}

.cart {
	display: grid;

	width: 20px;
}

.cart > svg {
	fill: var(--dark);

	transition-duration: 300ms;
}

.wrapper:active .cart > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--accent);
}

.counter {
	position: absolute;
	right: -7px;
	bottom: -7px;

	display: grid;
	align-items: center;

	width: 14px;
	height: 14px;

	user-select: none;

	color: var(--white);
	border-radius: 9999px;
	background: var(--error);

	font-size: 10px;
	justify-items: center;
}

@media (min-width: 1024px) {
	.wrapper:hover .cart > svg {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		fill: var(--accent);
	}
}
