.imageBlock {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: fit-content;

	background: var(--primary);
	justify-items: center;
}

.image {
	width: 100%;
	height: fit-content;
}

@media (max-width: 1024px) {
	.imageBlock {
		border-radius: 20px;
	}
}

@media (max-width: 580px) {
	.imageBlock {
		width: 80%;

		border-radius: 15px;
	}
}

@media (max-width: 300px) {
	.imageBlock {
		border-radius: 10px;
	}
}

@media (max-width: 250px) {
	.imageBlock {
		border-radius: 10px;
	}
}
