.wrapper {
	display: grid;
	align-items: center;

	width: 100%;
	justify-items: center;
	gap: 20px;
}

.input {
	width: 300px;
	height: 40px;
	margin-top: 50px;
	padding-left: 10px;

	color: var(--accent);
	border: 3px solid var(--primary);
	border-radius: 10px;
	background: rgba(38, 189, 187, 0.5);

	font-size: 18px;
	font-weight: 700;
}

.input:focus {
	outline: 1px solid var(--second);
}

.error_input {
	border-color: var(--error);
}

.error_input:focus {
	outline-color: var(--error);
}

.button {
	width: 310px;
	height: 40px;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
	border: 3px solid var(--primary);
	border-radius: 10px;
	background: rgba(38, 189, 187, 0.5);

	font-size: 18px;
	font-weight: 700;
}

.button:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--second);
}

@media (min-width: 1024px) {
	.button:hover {
		background: var(--second);
	}
}

@media (max-width: 580px) {
	.input {
		width: 90%;
	}
}
