.input {
	width: 80%;
	height: 40px;
	padding-left: 10px;

	color: var(--accent);
	border: 3px solid var(--primary);
	border-radius: 10px;
	background: rgba(38, 189, 187, 0.5);

	font-size: 18px;
	font-weight: 700;
}

.textarea {
	height: 100px;

	resize: vertical;
}

.input:focus {
	outline: 1px solid var(--second);
}

.error_input {
	border-color: var(--error);
}

.error_input:focus {
	outline-color: var(--error);
}

@media (max-width: 580px) {
	.input {
		width: 90%;
	}
}
