.input {
	width: 80%;
	height: fit-content;
	padding: 15px 0;
	padding-left: 15px;

	color: var(--accent);
	border: 1px solid var(--light);
	border-radius: 10px;
	background: var(--lighter);

	font-size: 18px;
	font-weight: 700;
}

.textarea {
	height: 100px;

	resize: vertical;
}

.input:focus {
	outline: 1px solid var(--accent);
}

.error_input {
	border-color: var(--error);
}

.error_input:focus {
	outline-color: var(--error);
}

@media (max-width: 580px) {
	.input {
		width: 90%;
	}
}
