.blockLanguages {
	display: grid;
	gap: 10px;
}

.langLink {
	margin: 5px 20px 5px 20px;

	cursor: pointer;
	transition-duration: 300ms;
}

.lang {
	display: grid;
	align-items: center;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--dark);

	font-weight: 700;
}

.lang:active,
.langLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--accent);
}

.lang > svg {
	width: 25px;
}

@media (min-width: 1024px) {
	.lang:hover,
	.langLink:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--accent);
	}
}

@media (max-width: 1024px) {
	.lang > svg {
		width: 20px;
	}
}
