.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.cultureBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
}

.cultureTitle,
.cultureTitle2 {
	color: var(--primary) !important;
}

.cultureTitle2 {
	margin-top: 30px;
}

.title {
	margin-top: 20px;
}

.list {
	display: grid;

	margin-bottom: 20px;
	gap: 10px;
}

.list > h1 {
	cursor: pointer;
	transition-duration: 300ms;
}

.list > h1:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.list > h1:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 1220px) {
	.cultureBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.cultureBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.cultureBody {
		gap: 10px;
	}
}

@media (max-width: 400px) {
	.cultureBody {
		width: 95%;
	}
}
