.footer {
	position: relative;

	display: grid;

	width: 100%;
	height: fit-content;

	border-radius: 30px;
	background: var(--primary);
}

.footerBottom {
	display: grid;
	align-items: center;
	align-self: end;

	height: fit-content;
	padding: 20px 100px 20px 100px;

	background: var(--dark);
	grid-template-columns: 1fr auto;
}

.footerBottomText {
	color: var(--white);
}

.mountain {
	position: absolute;

	align-self: end;

	height: 270px;
	margin-bottom: 56.8px;
	justify-self: end;
}

.footerLinks {
	display: grid;

	width: fit-content;
	margin: 30px 100px 100px 100px;
	grid-template-columns: auto auto auto;
	gap: 50px;
}

.linksBlock {
	display: grid;

	width: fit-content;
	gap: 10px;
}

.title {
	color: var(--accent);

	font-weight: 700;
}

.link {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
}

.link:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--light) !important;
}

@media (min-width: 1024px) {
	.link:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--light) !important;
	}
}

@media (max-width: 1024px) {
	.footer {
		border-radius: 20px;
	}

	.footerBottom {
		padding: 20px 70px 20px 70px;
	}

	.mountain {
		height: 190px;
		margin-bottom: 53.6px;
	}
}

@media (max-width: 650px) {
	.mountain {
		height: 150px;
	}
}

@media (max-width: 580px) {
	.footer {
		border-radius: 15px;
	}

	.footerBottom {
		padding: 20px 30px 20px 30px;
	}

	.mountain {
		height: 100px;
		margin-bottom: 51.2px;
	}
}

@media (max-width: 350px) {
	.footerBottom {
		grid-template-columns: auto;
		gap: 20px;
	}

	.mountain {
		height: 70px;
		margin-bottom: 82.4px;
	}
}

@media (max-width: 230px) {
	.mountain {
		height: 50px;
	}
}
