.cartDiv {
	display: grid;
	gap: 30px;
}

.title {
	color: var(--primary);

	font-weight: 600 !important;
}

.margin1 {
	margin-bottom: 255px;
}

.margin2 {
	margin-bottom: 70px;
}

.strike {
	text-decoration: line-through var(--primary) !important;
}

@media (max-width: 1024px) {
	.margin1 {
		margin-bottom: 395px;
	}

	.margin2 {
		margin-bottom: 220px;
	}
}

@media (max-width: 700px) {
	.margin1,
	.margin2 {
		margin-bottom: 0;
	}
}
