.product {
	display: grid;

	padding: 10px;

	cursor: pointer;
	transition-duration: 300ms;

	border-radius: 15px;
	background: var(--backgroundDark);
	justify-items: center;
	gap: 20px;
}

.product:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	border-radius: 15px;
}

.img {
	width: 100%;
	height: 100%;
}

.productInfo {
	display: grid;
	justify-items: center;
}

.title,
.price {
	font-weight: 600 !important;
}

.title {
	color: var(--primary);
}

@media (min-width: 1024px) {
	.product:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.product {
		gap: 15px;

		border-radius: 10px;
	}

	.imageBlock {
		border-radius: 10px;
	}
}

@media (max-width: 580px) {
	.product {
		gap: 10px;

		padding: 7px;
	}
}
