.productInfoDiv {
	display: grid;
	grid-template-columns: 350px auto;
	gap: 30px;
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	border-radius: 15px;
}

.img {
	width: 100%;
	height: 100%;
}

.textDiv {
	display: grid;
	gap: 20px;

	height: fit-content;
}

.titleFull {
	color: var(--primary);

	font-weight: 600;
}

.text {
	font-weight: 500;
}

.moreInfo {
	display: grid;

	margin-bottom: 10px;
}

.bold {
	color: var(--second);

	font-weight: 600;
}

.descriptionDiv {
	display: grid;
	gap: 15px;
}

.sortDiv {
	display: grid;

	width: fit-content;
	margin: 10px 0;
	gap: 10px;
	grid-template-columns: repeat(3, auto);
}

.sortTitle {
	padding: 5px 15px;

	cursor: pointer;
	transition-duration: 300ms;

	border: 1px solid var(--dark);
	border-radius: 9999px;
}

.active {
	color: var(--white);
	border-color: var(--accent);
	background: var(--accent);
}

.sortTitle:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	border-color: var(--accent);
}

.download {
	cursor: pointer;
	transition-duration: 300ms;
}

.download:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.sortTitle:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		border-color: var(--accent);
	}

	.download:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.productInfoDiv {
		grid-template-columns: 30% 1fr;
	}

	.imageBlock {
		border-radius: 10px;
	}

	.sortDiv {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 580px) {
	.productInfoDiv {
		grid-template-columns: auto;
	}

	.sortDiv {
		grid-template-columns: repeat(4, auto);
	}

	.sortTitle {
		padding: 5px 10px;
	}
}

@media (max-width: 460px) {
	.sortDiv {
		grid-template-columns: repeat(3, auto);
	}
}

@media (max-width: 360px) {
	.sortDiv {
		grid-template-columns: repeat(2, auto);
	}
}
