.productInfoDiv {
	display: grid;
	grid-template-columns: 350px auto;
	gap: 30px;
}

.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;

	border-radius: 15px;
}

.img {
	width: 100%;
	height: 100%;
}

.textDiv {
	display: grid;
	gap: 20px;

	height: fit-content;
}

.titleFull {
	color: var(--primary);

	font-weight: 600;
}

.text {
	font-weight: 500;
}

.moreInfo {
	display: grid;

	margin-bottom: 10px;
}

.bold {
	color: var(--second);

	font-weight: 600;
}

.descriptionDiv {
	display: grid;
	gap: 15px;
}

@media (max-width: 1024px) {
	.productInfoDiv {
		grid-template-columns: 30% 1fr;
	}

	.imageBlock {
		border-radius: 10px;
	}
}

@media (max-width: 580px) {
	.productInfoDiv {
		grid-template-columns: auto;
	}
}
