.xxl,
.xl,
.l,
.m,
.s,
.xs,
.xxs {
	width: fit-content;
	margin: 0;

	color: var(--dark);
}

.xxl {
	font-size: 44px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
}

.xl {
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	line-height: 42px;
}

.l {
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
}

.m {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
}

.s {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
}

.xs {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1rem;
}

.xxs {
	font-size: 0.65rem;
	font-weight: 400;
	line-height: 1rem;
}

@media (max-width: 580px) {
	.xxl {
		font-size: 24px;
	}

	.xl {
		font-size: 20px;
		line-height: 26px;
	}

	.l {
		font-size: 14px;
	}

	.m {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.s {
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.xs {
		font-size: 0.65rem;
		font-weight: 400;
		line-height: 1rem;
	}
}
