.xxl,
.xl,
.l,
.s {
	width: fit-content;
	margin: 0;

	color: var(--dark);
}

.xxl {
	font-size: 44px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
}

.xl {
	font-size: 36px;
	font-weight: 500;
	font-style: normal;
	line-height: 42px;
}

.l {
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
}

.m {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: normal;
}

.s {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
}

@media (max-width: 1550px) {
	.xxl {
		font-size: 40px;
		line-height: 46px;
	}

	.xl {
		font-size: 30px;
		line-height: 36px;
	}
}

@media (max-width: 1024px) {
	.xxl {
		font-size: 36px;
	}

	.xl {
		font-size: 28px;
		line-height: 34px;
	}

	.l {
		font-size: 18px;
	}

	.m {
		font-size: 14px;
	}

	.s {
		font-size: 12px;
	}
}

@media (max-width: 965px) {
	.xxl {
		font-size: 30px;
		line-height: 36px;
	}

	.xl {
		font-size: 24px;
		line-height: 30px;
	}
}

@media (max-width: 580px) {
	.xxl {
		font-size: 24px;
	}

	.xl {
		font-size: 20px;
		line-height: 26px;
	}

	.l {
		font-size: 14px;
	}

	.m {
		font-size: 12px;
	}

	.s {
		font-size: 10px;
	}
}

@media (max-width: 300px) {
	.xxl {
		font-size: 20px;
	}

	.xl {
		font-size: 18px;
		line-height: 24px;
	}

	.l {
		font-size: 12px;
	}
}

@media (max-width: 200px) {
	.xxl {
		font-size: 18px;
	}

	.xl {
		font-size: 16px;
		line-height: 22px;
	}

	.l {
		font-size: 10px;
	}
}
