.imageBlock {
	display: grid;
	align-items: center;

	width: 100%;
	height: 700px;

	background: var(--primary);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-items: center;
	filter: brightness(0.9);
}

.text {
	width: 80%;

	text-align: center;

	color: var(--white);
}
