.learnMore {
	display: grid;
	align-items: end;

	width: fit-content;
	margin-top: 60px;

	cursor: pointer;
	transition-duration: 300ms;
	grid-template-columns: 1fr auto;
	gap: 7px;
}

.learnMoreText {
	color: var(--accent) !important;

	font-weight: 700 !important;
}

.colorWhite {
	color: var(--white) !important;
}

.arrow > svg {
	width: 16px;
	fill: var(--accent);

	transition-duration: 300ms;
}

.arrowWhite > svg {
	fill: var(--white);
}

.learnMore:active > .arrow > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	transform: translateX(5px);
}

@media (min-width: 1024px) {
	.learnMore:hover > .arrow > svg {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		transform: translateX(5px);
	}
}

@media (max-width: 1024px) {
	.learnMore {
		gap: 5px;

		margin-top: 40px;
	}

	.arrow > svg {
		width: 12px;
		margin-bottom: -1px;
	}
}

@media (max-width: 580px) {
	.learnMore {
		margin-top: 30px;
	}

	.arrow > svg {
		width: 9px;
		margin-bottom: -2px;
	}
}
