.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 80px;
}

.cartBody {
	display: grid;

	width: 80%;
	margin-top: 110px;
	justify-items: left;
	gap: 30px;
}

.title {
	font-weight: 600 !important;
}

.cartList {
	display: grid;

	width: 100%;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.empty {
	margin-bottom: 200px !important;
}

@media (max-width: 1220px) {
	.cartBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 50px;
	}

	.cartBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}

	.empty {
		margin-bottom: 320px;
	}
}

@media (max-width: 580px) {
	.wrapper {
		gap: 30px;
	}

	.cartBody {
		grid-template-columns: 100%;

		width: 90%;
		gap: 40px;
	}

	.empty {
		margin-bottom: 0;
	}
}

@media (max-width: 400px) {
	.cartBody {
		width: 95%;
	}
}
