.imageBlock {
	position: relative;
	position: fixed;
	z-index: 0;
	top: 0;

	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;
	max-height: 100vh;

	background: var(--white);
}

.mainImage {
	width: 100%;
	height: 100%;
	filter: brightness(0.8);

	transition-duration: 300ms;
}

.darkness {
	filter: brightness(0.5);
}

.titleDiv {
	position: fixed;

	display: grid;
	align-self: center;

	height: fit-content !important;
	justify-self: center;
	justify-items: center;
}

.title {
	cursor: default !important;
	transition-duration: 300ms;

	color: var(--white);

	font-size: 96px;
	line-height: normal;
}

.title2 {
	width: 90%;
	margin-top: -30px;

	text-align: center;

	font-size: 60px;
}

.colored {
	color: var(--accent);
}

@media (max-width: 1300px) {
	.title {
		font-size: 72px;
	}

	.title2 {
		font-size: 40px;
	}
}

@media (max-width: 1024px) {
	.imageBlock {
		margin-top: 50px;
	}
}

@media (max-width: 800px) {
	.title {
		font-size: 56px;
	}

	.title2 {
		margin-top: -20px;

		font-size: 30px;
	}
}

@media (max-width: 570px) {
	.titleDiv {
		margin-top: -50px;
	}

	.title {
		font-size: 48px;
	}

	.title2 {
		margin-top: -20px;

		font-size: 22px;
	}
}

@media (max-width: 460px) {
	.titleDiv {
		margin-top: -70px;
	}

	.title {
		font-size: 32px;
	}

	.title2 {
		margin-top: -10px;

		font-size: 18px;
	}
}

@media (max-width: 370px) {
	.titleDiv {
		margin-top: -70px;
	}

	.title {
		font-size: 24px;
	}

	.title2 {
		margin-top: 0;

		font-size: 14px;
	}
}

@media (max-width: 330px) {
	.title {
		font-size: 20px;
	}

	.title2 {
		margin-top: -5px;

		font-size: 10px;
	}
}
