.imageBlock {
	display: grid;
	overflow: hidden;

	width: 100%;
	height: fit-content;
	margin-top: 60px;

	background: var(--primary);
}

.mainImage {
	width: 100%;
	height: 100%;
}

@media (max-width: 1024px) {
	.imageBlock {
		margin-top: 50px;
	}
}
