.wrapper {
	display: grid;

	width: 100%;
	height: 100vh;
	grid-template-rows: auto auto;
	gap: 60px;
	justify-items: center;
}

.contactsBody {
	display: grid;
	grid-template-columns: 50% 50%;

	width: 80%;
	justify-items: left;
	gap: 30px;
}

.contactsTitle {
	color: var(--primary) !important;
}

.infoBody {
	display: grid;

	width: 100%;
	height: fit-content;
	gap: 30px;
}

.infoBlock {
	display: grid;

	height: fit-content;
	gap: 20px;
}

.view {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--accent) !important;

	font-weight: 700;
}

.arrow {
	margin-left: 7px;
}

.arrow > svg {
	width: 16px;
	fill: var(--accent);

	transition-duration: 300ms;
}

.view:active > .arrow > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	transform: translateX(15px);
}

.wa {
	color: var(--accent);

	font-weight: 700;
}

@media (min-width: 1024px) {
	.view:hover > .arrow > svg {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		transform: translateX(5px);
	}
}

@media (max-width: 1220px) {
	.contactsBody {
		width: 85%;
	}
}

@media (max-width: 1024px) {
	.contactsBody {
		width: 90%;
		margin-top: 80px;
		gap: 20px;
	}

	.arrow {
		margin-left: 5px;
	}

	.arrow > svg {
		width: 12px;
		margin-bottom: -1px;
	}
}

@media (max-width: 580px) {
	.contactsBody {
		grid-template-columns: 100%;

		width: 90%;
		gap: 40px;
	}

	.infoBody {
		gap: 20px;
	}

	.infoBlock {
		gap: 10px;
	}

	.arrow > svg {
		width: 9px;
		margin-bottom: -2px;
	}
}

@media (max-width: 400px) {
	.contactsBody {
		width: 95%;
	}
}
