.wrapper {
	width: 80%;
}

.sideBlock {
	display: grid;

	width: 100%;
	height: fit-content;
	margin-top: 20px;

	border-radius: 30px;
	background: rgba(35, 148, 144, 0.5);
	grid-template-columns: 50% 50%;
	grid-template-areas: "a b";
}

.titleText {
	color: var(--primary) !important;
	justify-self: left;
}

.sideImage {
	width: 100%;
	height: 100%;

	border-radius: 30px;
	grid-area: a;
}

.rightSideImage {
	grid-area: b;
}

.textDiv {
	display: grid;

	padding: 50px 70px 50px 70px;
}

.textLeft {
	text-align: left;
}

.textRight {
	text-align: right;
}

@media (max-width: 1400px) {
	.textDiv {
		padding: 30px 50px 30px 50px;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		width: 90%;
	}

	.sideBlock,
	.sideImage {
		border-radius: 20px;
	}

	.textDiv {
		padding: 20px 30px 20px 30px;
	}
}

@media (max-width: 580px) {
	.sideBlock {
		grid-template-columns: 100%;
		grid-template-areas:
			"a"
			"b";
	}

	.sideImage,
	.rightSideImage {
		grid-area: a;
	}

	.sideBlock,
	.sideImage {
		border-radius: 15px;
	}

	.textDiv {
		padding: 20px 50px 20px 50px;
		justify-items: center;
	}

	.textLeft,
	.textRight {
		text-align: center;
	}
}

@media (max-width: 400px) {
	.wrapper {
		width: 95%;
	}

	.textDiv {
		padding: 10px 30px 10px 30px;
	}
}
